apiVersion: "mizar.com/v1"
kind: Subnet
metadata:
  name: net1 
spec:
  vpc: "vpc1"
  vni: "VPC_VNI" 
  ip: "192.168.0.0"
  prefix: "24"
  status: "Init"
  bouncers: 1
  # uncomment the following line if this subnet is remote
  #virtual: true
